# Dependencias
node_modules/

# Builds
dist/
build/
out/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / SO
.DS_Store
.vscode/
.idea/
